%h2
  Player #{player.id}

= link_to 'Edit', routes.edit_player_path(player.id)
= link_to_destroy(player)

.player
  %p
    First Name:
    = player.first_name
  %p
    Last Name:
    = player.last_name
  %p
    Email:
    = player.email

= link_to 'Players list', routes.players_path
